name: Check Markdown links

on: push

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@1.0.15
    with:
      use-quiet-mode: 'yes'
      use-verbose-mode: 'yes'
      check-modified-only: 'yes'
